
$theme: '.ace';
$theme: '.ace.sc-small-size';


#{$theme}.checkbox {
  
  .button {
    position: absolute;
    width: 14px;
    height: 14px;
    @extend .__s59_322;
-chance-offset: "resources/checkbox/ace/14px/checkbox_unchecked_0_0___0_0" 0 0;background-repeat: no-repeat;
  }
  
  .label {
    position: absolute;
    left: 20px;
  }

  &.active .button {
    @extend .__s59_323;
-chance-offset: "resources/checkbox/ace/14px/checkbox_unchecked_active_0_0___0_0" 0 0;background-repeat: no-repeat;
  }

  &.sel .button {
    @extend .__s59_324;
-chance-offset: "resources/checkbox/ace/14px/checkbox_checked_0_0___0_0" 0 0;background-repeat: no-repeat;
  }

  &.sel.active .button {
    @extend .__s59_325;
-chance-offset: "resources/checkbox/ace/14px/checkbox_checked_active_0_0___0_0" 0 0;background-repeat: no-repeat;
  }
  

  &.mixed .button {
    @extend .__s59_326;
-chance-offset: "resources/checkbox/ace/14px/checkbox_mixed_0_0___0_0" 0 0;background-repeat: no-repeat;
  }

  &.mixed.active .button {
    @extend .__s59_327;
-chance-offset: "resources/checkbox/ace/14px/checkbox_mixed_active_0_0___0_0" 0 0;background-repeat: no-repeat;
  }
  
}

$theme: '.ace';
